
* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
    font-family: Istok web, sans-serif;

}
  

@media screen and(min-width:768px){
   
   main {
    flex-direction: row;/* Stack elements vertically on smaller screens */
    }

    .diagram-container {
        margin-left: 65px;
    }
}

header{
    display: flex;
    justify-content: space-between; 
    background-color:#E0F2F1;
    width: 100%;
    height: 84px;
}


body {
 
    font-family: 'Istok Web', sans-serif;
    background-color: white;
    min-height: 100vh;
    margin: 0;
  }

header .logo img {
    width:275.17px;
    height: 140px;
    flex-shrink: 0;
    top: -26px;
    left: 47px; 
    position: relative;
}



.profile {
    display: flex;
}

.profile-text {
    margin-right: 20px;
    font-size: 18px;
    font-family: Istok web, sans-serif;
    font-display: center;
    margin-right: 34px;
    top:34px;
    position: relative;
}

.profile-pic {
    width: 62px;
    height: 62px;
    border-radius: 50px;
    top:13px ;
    margin-right: 67px;
    position: relative;
}
.profile-pic-wrapper {
    position: relative;
    display: inline-block;
}
.status-dot {
    position: absolute;
    bottom: 5px;
    left:44px;
    width: 15px;
    height: 15px;
    background-color: #4CAF50 ; /* Green color to indicate online status */
    border-radius: 50%;
    opacity: 0.85;
}



main{
    display: flex;
    flex-wrap: wrap;
}
main section{
    flex-grow: 1;
    flex-basis: 200;
    width: 500px;
}


.patients-container {
    margin-right: 35px;
    left: 65px;
    position: relative;
}



.white_back{
    width: 496px;
    height: 520px;
    border-color:#004D40;
    border: 1px solid rgba(63, 63, 63, 0.3); /* Adjust the opacity for less prominence */
    box-sizing: border-box;
    top:55px;
    font-family: Istok web, sans-serif;
    overflow: hidden;
    position: relative;
}

.title_green_box{
    width: 496px;
    height: 57px;
    background-color: rgba(170, 224, 208, 1);
    display: flex;
    position: relative;
}
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 90px;
    padding-left:7px;
    background-color: #fff;
    width: 130px;
    height: 29px;
    left:159px;
    top:19px;
    position: relative;
}
.search-bar input {
    border: none;
    outline: none;
    box-shadow: none;
    background-color:#ffffff00;
    margin-left: 6px;
    flex-grow: 1;
    font-size: 18px;
    font-family: Istok web, sans-serif;

}

.search-bar img{
    width: 20px;
    height: 20px;
   
    color: #2E7067;
}

.change-order-icon{
    width: 46px;
    height: 36px;
    top: 16px;
    left: 173px;
    position: relative;
}

.point-down-icon {
    display: inline-block;
    transform: rotate(90deg);
    color: #1E7A6A;
    font-weight: bold;
    font-size:22px;
    top:42px;
    left: 235px;
    position: relative;
}


.pationes_title{
    background-color: #ffffff;
    width: 120px;
    height: 42px;
    font-size:22px;
    left: 20px;
    top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3f3f3f ;
    position: relative;
}

#patione {
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 0;
    margin: 0;
  }
  
   

  #patione img {
    width: 57px;
    height: 57px;
    opacity: 0.85;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 4px;
    margin-right: 20px;
    margin-left: 31px;
    position: relative;
  }

  #patione ul {
    list-style-type: none;
    padding-left:0px;
  }
  
  #patione li {
    border-color: #3f3f3f49;
    border: 1px solid rgba(63, 63, 63, 0.155); /* Adjust the opacity for less prominence */
    box-sizing: border-box;
    width: 496px;
 
    display: flex;
    margin-bottom: -1px;
    align-items: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.65);
  }


#plus-cyrcle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgba(38, 166, 154, 1);
    box-shadow: 0px 4px 4px rgba(147, 211, 205, 0.9), 0px 4px 4px #00000040;
    top:10px;
    margin-left:476px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:40px ;
    color: #ffffff;
    position: relative;
}


.diagram-container{
    display: flex;
    padding-bottom:80px;
    top:90px;
    left:45px;
    position: relative;
    align-content: flex-end;
}
 .diagram {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    height:300px; 
    width: 100%;
    margin: 0px;
    position: relative;
}

.y-axis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
}

.y-axis-number {
    text-align: center;
    margin-bottom: 11px;
}

.y-axis-line {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
}

.y-axis-line::before {
    content: '';
    height: 1px;
    width: 340px;
    background: #ADA9A9;
    position: absolute;
    margin-left:30px;
    top:10px;
}

.y-title {
    align-items: center;
    left: 20px;
    padding-bottom: 8px;
    width: 86px;
    height: 18px;
    font-size: 16px;
    color: #000;
    position: relative;
}

.x-axis {
  
    display: flex;
    flex-direction: column;
    font-size: 16px;
     position:relative;
    
    color: black;
}

.months {
    display: flex;
    justify-content:space-evenly;
    margin-top: 9px;
    position: relative;
    
}

.month {
    width: 70px;
    justify-content:space-evenly;
    align-items: center;
    font-size: 16px;
    font-family: Istok web, sans-serif;
    left: -27px;
    top:-9px;
    position: relative;
}

.results {
    width: 375px;
    display: flex;
    justify-content:space-evenly;
    align-items: flex-end;
    padding-left: 27px;
   
}

.month-results {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    left: -47px;
    top:-9px;
    position: relative;
}

.result {
    width: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    max-height:340px;
    overflow: hidden;
    box-shadow: -3px 0 7px #00665f83;
}

.result::after {
    content: attr(data-value);
    position: relative;
    font-size: 12px;
}

.x-title {
    width: 86px;
    height: 18px;
    font-size: 16px;
    left: 425px;
    top:-28px;
    color: #000;
    position: relative;
}

.patient-age {
    
    top:-47px;
    left:450px;
    width: 96px;
    position: absolute;
}

.age-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Space between rows */
    margin-left: 11px;
}

.age-box {
    width: 15px;
    height: 15px;
    margin-right: 10px; 
}

.text-age {
    font-size: 16px; 
    color: #000;
}



.calendar-container {    
    top:17px;
    left: 42px;
    width: 471px;
    height: 176px;
    padding: 20px;
    padding-top: 10.498px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px ridge #cbcbcb;
    background-color: rgb(255, 255, 255);
    box-shadow: -2px 7px 7px #00665f83, 0px 4px 4px #00000040;
    overflow: hidden; /* Prevents overflow */

    position: relative;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
}

.prev{
    margin-left: 384.42px;
    color: #AFAFAF;
    position: absolute;
}

.prev, .next {
    cursor: pointer;
}

.calendar-body {
    display: flex;
    flex-direction: column;
}

.calendar-weekdays {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 14px;
}

.calendar-weekdays div {
    width: calc(100% / 7);
    text-align: center;
}

.calendar-dates {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 50px); 
    font-size: 14px;
}

.current-date {
    background-color: #296A5F;
    color: #fff;
}
.month-year{
    font-size: 20px;
    font-weight: bold;
}